<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<title>Product List</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="./styles.css">
	
	
	<!-- Scripts -->
	<script>
		delete module.exports
	</script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-barber-shop.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="./pace.theme.css">
</head>

<body>
	<br>
	<div id="app" class="container-fluid">
		<!-- Input row -->
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
				<input v-model="keyword" v-on:keyup.enter="search" class="form-control text-input" placeholder="keyword">
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				{{status}}
			</div>
		</div>
		<template v-for="(item, index) in productList">
			<div class="row" >
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<!-- <img class="prodImg" v-bind:src="item.imgUrl" > -->
				</div>
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-truncate">
					{{item.tit}}
					<p class="font-weight-bold">{{item.price}}</p>
				</div>
			</div>
			<template v-for="(item, index) in item.groups">
				<div class="row" >
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
						
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<!-- <img class="prodImg" v-bind:src="item.imgUrl" > -->
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="text-truncate">{{item.tit}}</div>
						<p class="font-weight-bold">{{item.price}}</p>
						상위 이미지와 차이율 : {{item.imgMinDiff.toFixed(2)}} %
					</div>
				</div>
			</template>
		</template>
	</div>
</body>

</html>
<script src="./window.js" charset="utf-8"></script>