<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<title>Product List</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="./styles.css">

	<!-- Scripts -->
	<script>
		delete module.exports
	</script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
</head>

<body>
	<br>
	<div id="app" class="container-fluid">
		<!-- Input row -->
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
				<!-- <h3 class="hash-heading">Input</h3> -->
				<!-- <textarea rows="1" ></textarea> -->
				<input v-model="keyword" v-on:keyup.enter="search" class="form-control text-input" placeholder="keyword">
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				{{status}}
			</div>
		</div>
		<div class="row" v-for="(item, index) in productList">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<img src="{{item.imgUrl}}" >
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-nowrap">
				{{item.tit}}
			</div>
		</div>
	</div>
</body>

</html>
<script src="./window.js" charset="utf-8"></script>