html, body {
	background-color: #D6D8DC;
}

.text-input {
	font-size: 16px;
}

.prodImg {
	width: 100%;
	max-width: 100px;
}

.prod {
	border-bottom: solid 1px #ccc;
}
.fas.btn {
	cursor: pointer;
}
.flexiableList {
	display: grid;
	grid-gap: 5px; 
	overflow: hidden;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-flow: dense;
}

/* .item:nth-of-type(3n) {
	grid-column: span 2;
}
.item:nth-of-type(5n) {
	grid-row: span 2;
} */

.prod.sub {
	display: none;
}
.prod.sub.show {
	display: block;
}

